/* Color Options
******************************************************* Color Options ***

    Blue:   #2f64c5
    Red:    #9c1f1f
    Green:  #42a25b
    Yellow: #e9ad2b
    Gray:   #4a4a4a

    Here are some standard colors you can use for for objects
    in your game. If you'd like a lighter or darker shade of
    each color, give this website a try: 0to255.com

        Example: http://0to255.com/2f64c5
*/


/* Layout Styles
******************************************************* Layout Styles ***/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('../images/template/header.gif') #555555;
    /* Credit and thanks to SubtlePatterns.com for the texture: 
    http://subtlepatterns.com/inspiration-geometry/     */
}

#container {
    width: 1080px;
    margin: 20px auto;
    
    background: #ffffff;
    border: 1px solid #b0b0b0; 
    box-shadow: 0 0 45px 5px rgba(0,0,0,0.08);
}

#container > header {
    background: #f6f6f6;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 15px;
}

#container > footer {
    margin-top: 25px;
    padding: 5px;
    text-align: right;
    
    font-size: 0.7em; 
    color: #ababab;
}

.content { padding: 10px 20px; }


/* Element Styles
******************************************************* Element Styles ***/
p { font-size: 1.05em; margin: 8px 0; } 

h1 { font-size: 2em; margin: 0 0 15px 0; color: #2e64c5; }
h2 { font-size: 1.6em; margin: 0 0 10px 0; color: #4a4a4a; }
h3 { font-size: 1.5em; margin: 0 0 8px 0; color: #2856aa; }
h4 { font-size: 1.2em; margin: 20px 0 6px 0; color: #2856aa; }

button, .button, input[type=button] {
    padding: 8px 12px;
    background: #2f64c5;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px #d0d0d0;
    
    color: #ffffff;
    font-size: 1.1em;
    text-decoration: none;
}
button:hover, .button:hover, input[type=button]:hover { background: #5180d6; cursor: pointer; }
button:active, .button:active, input[type=button]:active { background: #366ccf; }

input[type=text] {
    padding: 4px;
    font-size: 1.1em;
    border: 1px solid #d5d5d5;
}
input[type=text]:hover, input[type=text]:focus {
    box-shadow: 0 0 30px 4px rgba(0,0,0, 0.06);
}

#gradeButton{
	margin-top: 20px;
	margin-left: 42px;
	
    background: #090;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px #d0d0d0;
	width: 290px;
    
    color: #ffffff;
    font-size: 1.1em;
    text-decoration: none;
	
	
	
}
#gradeButton:hover{
	background: #0C0; cursor: pointer;
}

label { font-size: 1.1em; }

/* The following classes were made for use with the X / star / check icons,
    so they can be neatly placed alongside form controls. */
.smallIcon { position: relative; top: 4px; }
.mediumIcon { position: relative; top: 10px; }
.largeIcon { position: relative; top: 26px; }